@font-face {
    font-family: 'Outfit';
    src: url('../Fonts/Outfit-Bold.woff2') format('woff2'),
        url('../Fonts/Outfit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../Fonts/Outfit-Black.woff2') format('woff2'),
        url('../Fonts/Outfit-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../Fonts/Outfit-Thin.woff2') format('woff2'),
        url('../Fonts/Outfit-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../Fonts/Outfit-Light.woff2') format('woff2'),
        url('../Fonts/Outfit-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../Fonts/Outfit-Regular.woff2') format('woff2'),
        url('../Fonts/Outfit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../Fonts/Outfit-Medium.woff2') format('woff2'),
        url('../Fonts/Outfit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../Fonts/Outfit-SemiBold.woff2') format('woff2'),
        url('../Fonts/Outfit-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../Fonts/Outfit-ExtraLight.woff2') format('woff2'),
        url('../Fonts/Outfit-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../Fonts/Outfit-ExtraBold.woff2') format('woff2'),
        url('../Fonts/Outfit-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('../Fonts/Outfit-Thin.woff2') format('woff2'),
        url('../Fonts/Outfit-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* Italoano Font */
@font-face {
    font-family: 'Italianno';
    src: url('../Fonts/Italianno-Regular.woff2') format('woff2'),
        url('../Fonts/Italianno-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Futura Fonts */
@font-face {
    font-family: 'Futura Lt BT';
    src: url('../Fonts/FuturaBT-Light.woff2') format('woff2'),
        url('../Fonts/FuturaBT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura LtCn BT';
    src: url('../Fonts/FuturaBT-LightCondensed.woff2') format('woff2'),
        url('../Fonts/FuturaBT-LightCondensed.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Lt BT';
    src: url('../Fonts/FuturaBT-LightItalic.woff2') format('woff2'),
        url('../Fonts/FuturaBT-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('../Fonts/FuturaBT-Medium.woff2') format('woff2'),
        url('../Fonts/FuturaBT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('../Fonts/FuturaBT-MediumItalic.woff2') format('woff2'),
        url('../Fonts/FuturaBT-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../Fonts/Futura-CondensedLight.woff2') format('woff2'),
        url('../Fonts/Futura-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura XBlk BT';
    src: url('../Fonts/FuturaBT-ExtraBlack.woff2') format('woff2'),
        url('../Fonts/FuturaBT-ExtraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura MdCn BT';
    src: url('../Fonts/FuturaBT-MediumCondensed.woff2') format('woff2'),
        url('../Fonts/FuturaBT-MediumCondensed.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura XBlkCnIt BT';
    src: url('../Fonts/FuturaBT-ExtraBlackCondItalic.woff2') format('woff2'),
        url('../Fonts/FuturaBT-ExtraBlackCondItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../Fonts/Futura-Bold.woff2') format('woff2'),
        url('../Fonts/Futura-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../Fonts/Futura-Bold.woff2') format('woff2'),
        url('../Fonts/Futura-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Bk BT';
    src: url('../Fonts/FuturaBT-Book.woff2') format('woff2'),
        url('../Fonts/FuturaBT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('../Fonts/FuturaBT-BoldItalic.woff2') format('woff2'),
        url('../Fonts/FuturaBT-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../Fonts/Futura-Black-Bold.woff2') format('woff2'),
        url('../Fonts/Futura-Black-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura BdCn BT';
    src: url('../Fonts/FuturaBT-BoldCondensed.woff2') format('woff2'),
        url('../Fonts/FuturaBT-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Bk BT';
    src: url('../Fonts/FuturaBT-BookItalic.woff2') format('woff2'),
        url('../Fonts/FuturaBT-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura XBlk BT';
    src: url('../Fonts/FuturaBT-ExtraBlack.woff2') format('woff2'),
        url('../Fonts/FuturaBT-ExtraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Hv BT';
    src: url('../Fonts/FuturaBT-Heavy.woff2') format('woff2'),
        url('../Fonts/FuturaBT-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Hv BT';
    src: url('../Fonts/FuturaBT-HeavyItalic.woff2') format('woff2'),
        url('../Fonts/FuturaBT-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}