* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --outfit-font: 'Outfit', sans-serif;
    --wheat-color: #D6BC96;
    --white-color: #ffffff;
}

body {
    background-color: #000;
    /* background-color: transparent; */
    font-family: var(--outfit-font);
    color: var(--white-color);
    z-index: -999;
}

.robot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

header {
    position: fixed;
    padding: 15px 0px;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: #0000001f;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
    /* background-color: transparent; */
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.header-section {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

header .nav h4 a {
    font-size: 18px;
    margin: 0px;
    transition: all 0.3s ease;
}

header .logo img {
    width: 40px;
    height: 40px;
    /* margin-top: -10px; */
}

header .nav h4:hover a {
    color: var(--white-color);
    text-decoration: none;
    filter: drop-shadow(0 0 5px var(--white-color));
}

.banner-section {
    width: 90%;
    padding: 100px 0px 70px 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../Images/purple.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* justify-content: space-between; */
    margin-bottom: 30px;
}

.banner-section .banner-content {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 400px;
    padding-left: 90px;
}

.banner-section .banner-content h1 {
    display: block;
    /* width: 100%; */
    margin: 0;
    font-size: 60px;
}

.text-animation {
    width: 100%;
    height: 12vh;
    margin: 0;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: #000;
    position: relative;
    display: block;
}

.text-animation video {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    overflow: hidden;

}

.banner-section .banner-content .text-animation h1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    font-size: 70px;
    font-weight: 600;
    color: #ffffff;
    mix-blend-mode: multiply;
    background-color: #000000;
    overflow: hidden;
}

/* Get started button */
.get-started-button {
    height: 50px;
    width: 150px;
    border-radius: 100px;
    background-color: var(--white-color);
    border: 4px solid var(--white-color);
    position: relative;
    /* color: black; */
    font-weight: 600;
    transition: all 0.5s;
}

.fil0 {
    fill: #ffffff;
}

.star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    background-color: transparent;
    z-index: -5;
    transition: all 0.5s;
}

.get-started-button:hover .star-1 {
    position: absolute;
    top: -60%;
    left: 70%;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.star-2 {
    position: absolute;
    top: 25%;
    left: 35%;
    width: 15px;
    height: 15px;
    background-color: transparent;
    z-index: -5;
    transition: all 0.5s;
}

.get-started-button:hover .star-2 {
    position: absolute;
    top: -20%;
    left: 10%;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.star-3 {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 7px;
    height: 7px;
    background-color: transparent;
    z-index: -5;
    transition: all 0.5s;
}

.get-started-button:hover .star-3 {
    position: absolute;
    top: 60%;
    left: 20%;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.star-4 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 7px;
    height: 7px;
    background-color: transparent;
    z-index: -5;
    transition: all 0.5s;
}

.get-started-button:hover .star-4 {
    position: absolute;
    top: 100%;
    left: 80%;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.star-5 {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: transparent;
    z-index: -5;
    transition: all 0.5s;
}

.get-started-button:hover .star-5 {
    position: absolute;
    top: 50%;
    left: 50%;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.star-6 {
    position: absolute;
    top: 30%;
    left: 45%;
    width: 20px;
    height: 20px;
    background-color: transparent;
    z-index: -5;
    transition: all 0.5s;
}

.get-started-button:hover .star-6 {
    position: absolute;
    top: 20%;
    left: 100%;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.get-started-button:hover {
    border: 4px solid var(--white-color);
    ;
    background-color: transparent;
    color: var(--white-color);
    box-shadow: 0 0 20px var(--white-color);
}

/* Image */
.banner-images-content {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -80px;
}

.banner-images {
    width: 80%;
    display: flex;
    justify-content: center;
}

.banner-images img {
    width: 90%;
    height: 60vh;
    object-fit: cover;
    border-radius: 10px;
}

.banner-images-content .mastery-feild {
    width: 100%;
    position: relative;
}

.banner-images-content .mastery-feild h1:nth-child(1) {
    position: absolute;
    text-transform: uppercase;
    top: -75px;
    left: -50px;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}

.banner-images-content .mastery-feild h1:nth-child(2) {
    position: absolute;
    top: -10px;
    left: 20%;
    font-size: 160px;
    font-family: 'Italianno';
}

/* About Section  */
.about-section {
    width: 100%;
    padding: 110px 0px;
}

.about-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.about-content h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

.about-content p {
    font-size: 24px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 30px;
}

/* Get CV button */
.get-resume-button {
    height: 50px;
    width: 150px;
    border-radius: 100px;
    background-color: var(--white-color);
    ;
    border: 4px solid var(--white-color);
    ;
    position: relative;
    /* color: black; */
    font-weight: 600;
    transition: all 0.5s;
}

.fil0 {
    fill: #ffffff;
}

.star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    background-color: transparent;
    z-index: -5;
    transition: all 0.5s;
}

.get-resume-button:hover .star-1 {
    position: absolute;
    top: -60%;
    left: 70%;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.star-2 {
    position: absolute;
    top: 25%;
    left: 35%;
    width: 15px;
    height: 15px;
    background-color: transparent;
    z-index: -5;
    transition: all 0.5s;
}

.get-resume-button:hover .star-2 {
    position: absolute;
    top: -20%;
    left: 10%;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.star-3 {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 7px;
    height: 7px;
    background-color: transparent;
    z-index: -5;
    transition: all 0.5s;
}

.get-resume-button:hover .star-3 {
    position: absolute;
    top: 60%;
    left: 20%;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.star-4 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 7px;
    height: 7px;
    background-color: transparent;
    z-index: -5;
    transition: all 0.5s;
}

.get-resume-button:hover .star-4 {
    position: absolute;
    top: 100%;
    left: 80%;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.star-5 {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: transparent;
    z-index: -5;
    transition: all 0.5s;
}

.get-resume-button:hover .star-5 {
    position: absolute;
    top: 50%;
    left: 50%;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.star-6 {
    position: absolute;
    top: 30%;
    left: 45%;
    width: 20px;
    height: 20px;
    background-color: transparent;
    z-index: -5;
    transition: all 0.5s;
}

.get-resume-button:hover .star-6 {
    position: absolute;
    top: 20%;
    left: 100%;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.get-resume-button:hover {
    border: 4px solid var(--white-color);
    background-color: transparent;
    color: var(--white-color);
    /* box-shadow: 0 0 20px  var(--white-color) */
    filter: drop-shadow(0 0 5px var(--white-color));
}

.my-skills {
    padding: 110px 0px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: -1;
}

.my-skills .skills-heading h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
}

.my-skills .skills-logo {
    padding: 30px 0px;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    /* border: 2px solid red; */
}

.my-skills .skills-logo .web-logos {
    display: block;
    width: 100%;
}

.my-skills .skills-logo .logo-row {
    gap: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    width: 100%;
}

.my-skills .web-technology {
    display: flex;
    align-items: center;
    /* margin-bottom: 60px; */
}

.my-skills .web-technology,
.my-skills .application-development,
.my-skills .designing-tools,
.my-skills .other-programming-languages,
.my-skills .tools,
.my-skills .ai-tools,
.my-skills .web-hosting {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    /* border: 2px solid green; */
    margin-bottom: 30px;
}

.my-skills .skills-logo .web-technology .web-logos,
.my-skills .skills-logo .application-development .application-logos,
.my-skills .skills-logo .designing-tools .designing-logos,
.my-skills .skills-logo .other-programming-languages .other-logos,
.my-skills .skills-logo .tools .tools-logos,
.my-skills .skills-logo .ai-tools .ai-logos,
.my-skills .skills-logo .web-hosting .web-hosting-logos {
    width: 60%;
    display: block;
    /* align-items: center; */
    gap: 30px;
}


.my-skills .skills-logo img,
.my-skills .skills-logo .web-hosting .web-hosting-logos .vercel .vercel-logo {
    width: 60px;
    height: 60px;
    /* margin: 0px 10px; */
    transition: all 0.3s ease;
}

.my-skills .skills-logo img:hover,
.my-skills .skills-logo .web-hosting .web-hosting-logos .vercel:hover .vercel-logo {

    filter: drop-shadow(0 0 5px var(--white-color));
}

/* BOOTSTRAP LOGO , GSAP LOGO & TailWind CSS logo */
.my-skills .skills-logo .web-technology .web-logos .bootstrap {
    width: 70px;
}

.my-skills .skills-logo .web-technology .web-logos .tailwind {
    width: 70px;
    /* height: 80px; */
}

.my-skills .skills-logo .web-technology .web-logos .tailwind img {
    height: 100%;
    width: 100%;
}

.my-skills .skills-logo .web-technology .web-logos .logo-row .gsap {
    width: 90px;
    height: 55px;
    display: flex;
    align-items: center;
}

.my-skills .skills-logo .web-technology .web-logos .logo-row .gsap img {
    width: 100%;
    height: 80%;
}

.my-skills .skills-logo .web-technology .web-logos .bootstrap img {
    height: 100%;
    width: 100%;
}

/* GO-LANGUAGE LOGOG */
.my-skills .skills-logo .other-programming-languages .other-logos .go-lang {
    width: 100px;
}

.my-skills .skills-logo .other-programming-languages .other-logos .go-lang img {
    height: 100%;
    width: 100%;
}

/* Netlify */
.my-skills .skills-logo .web-hosting .web-hosting-logos .netlify {
    width: 150px;
}

.my-skills .skills-logo .web-hosting .web-hosting-logos .netlify img {
    width: 100%;
}


.my-skills .skills-logo .web-technology .web-logos .gsap {
    width: 50px;
    height: 50px;
}

/* tooltip  */
.html,
.css,
.javaScript,
.jQuery,
.mediaQuery,
.bootstrap,
.gsap {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

/* HTML SECTION  */
.html .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.html:hover .tooltip-text h6 {
    transform: translate(-10px, -45px);
    font-size: 16px;
    filter: drop-shadow(0 0 5px var(--white-color));
    opacity: 1;
}

/* CSS SECTION  */
.css .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 25px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.css:hover .tooltip-text h6 {
    transform: translate(-10px, -45px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

/* JavaScript SECTION */
.javaScript .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.javaScript:hover .tooltip-text h6 {
    transform: translate(-20px, -45px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

/* JQurey SECTION */
.jQuery .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 18px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.jQuery:hover .tooltip-text h6 {
    transform: translate(-15px, -45px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

/* MediaQuery SECTION */
.mediaQuery .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 5px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.mediaQuery:hover .tooltip-text h6 {
    transform: translate(-20px, -45px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

/* Tailwind CSS SECTION */
.tailwind .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    top: 5%;
    font-size: 8px;
    transition: all 0.5s;
}

.tailwind:hover .tooltip-text h6 {
    transform: translate(-10px, -40px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

/* bootstrap CSS SECTION */
.bootstrap .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 15px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.bootstrap:hover .tooltip-text h6 {
    transform: translate(-15px, -45px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

/* gsap CSS SECTION */
.gsap .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 40px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.gsap:hover .tooltip-text h6 {
    transform: translate(-15px, -35px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

/* Web Designing */
.figma,
.adobe-xd,
.canva,
.photoshop,
.illustrator {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.figma .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.figma:hover .tooltip-text h6 {
    transform: translate(-13px, -45px);
    font-size: 16px;
    filter: drop-shadow(0 0 5px var(--white-color));
    opacity: 1;
}

/*adobe-xd  SECTION  */
.adobe-xd {
    position: relative;
    width: 70px;
}

.adobe-xd .tooltip-text h6 {
    /* border: 2px solid red; */
    opacity: 0;
    position: absolute;
    top: 20px;
    width: 100%;
    left: 15px;
    font-size: 8px;
    transition: all 0.5s;
}

.adobe-xd:hover .tooltip-text h6 {
    transform: translate(-15px, -45px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

/* canva SECTION */
.canva .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.canva:hover .tooltip-text h6 {
    transform: translate(-15px, -45px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

/*photoshop SECTION */
.photoshop .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.photoshop:hover .tooltip-text h6 {
    transform: translate(-16px, -45px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

/* illustrator SECTION */
.illustrator .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 15px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.illustrator:hover .tooltip-text h6 {
    transform: translate(-20px, -45px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

/* Application Development */
.xml,
.android-studio,
.java,
.dart {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.xml .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 25px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.xml:hover .tooltip-text h6 {
    transform: translate(-10px, -45px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

.android-studio .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 25px;
    text-align: center;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.android-studio:hover .tooltip-text h6 {
    transform: translate(-25px, -65px);
    text-align: center;
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

.java .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 25px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.java:hover .tooltip-text h6 {
    transform: translate(-10px, -45px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

.dart .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 25px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.dart:hover .tooltip-text h6 {
    transform: translate(-10px, -45px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

/* other  */
.c-language,
.c-plus-plus,
.go-lang,
.python {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.c-language .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 10px;
    width: 200%;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.c-language:hover .tooltip-text h6 {
    transform: translate(-25px, -50px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

.c-plus-plus .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 25px;
    text-align: center;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.c-plus-plus:hover .tooltip-text h6 {
    transform: translate(-10px, -45px);
    text-align: center;
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

.go-lang .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 35px;
    top: 20px;
    width: 200%;
    font-size: 8px;
    transition: all 0.5s;
}

.go-lang:hover .tooltip-text h6 {
    transform: translate(-30px, -45px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

.python .tooltip-text h6 {
    /* opacity: 0; */
    position: absolute;
    left: 25px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.python:hover .tooltip-text h6 {
    transform: translate(-10px, -45px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

/* Tools  */

.github,
.wix-studio,
.firebase {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.github .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 18px;
    width: 200%;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.github:hover .tooltip-text h6 {
    transform: translate(-15px, -50px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

.wix-studio .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    /* text-align: center; */
    width: 200%;
    left: 10px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.wix-studio:hover .tooltip-text h6 {
    transform: translate(-20px, -45px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

.firebase .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 15px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.firebase:hover .tooltip-text h6 {
    transform: translate(-15px, -45px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

/* Ai Tools  */

.chatgpt,
.deepseek,
.grok,
.grammerly {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.chatgpt .logo {
    height: 60px;
    width: 60px;
}

.chatgpt .logo img {
    height: 100%;
    width: 100%;
}

.chatgpt .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 15px;
    /* width: 200%; */
    top: 30px;
    font-size: 8px;
    transition: all 0.5s;
}

.chatgpt:hover .tooltip-text h6 {
    transform: translate(-18px, -55px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

.deepseek .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    /* text-align: center; */
    width: 100%;
    left: 10px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.deepseek:hover .tooltip-text h6 {
    transform: translate(-15px, -45px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

.grok .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.grok:hover .tooltip-text h6 {
    transform: translate(-10px, -45px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

.grammerly .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.grammerly:hover .tooltip-text h6 {
    transform: translate(-20px, -45px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

/* Web Hosting  */

.netlify,
.vercel {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.netlify .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 60px;
    width: 200%;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.netlify:hover .tooltip-text h6 {
    transform: translate(-5px, -50px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}

.vercel .tooltip-text h6 {
    opacity: 0;
    position: absolute;
    left: 18px;
    top: 20px;
    font-size: 8px;
    transition: all 0.5s;
}

.vercel:hover .tooltip-text h6 {
    transform: translate(-13px, -50px);
    font-size: 16px;
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--white-color));
}


/* vercel */
.my-skills .skills-logo .web-hosting .web-hosting-logos .vercel-logo {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    background: transparent;
    align-items: center;
    border-radius: 50px;
    background: #000;
}

.my-skills .skills-logo .web-hosting .web-hosting-logos .vercel-logo svg {
    margin: 0;
    margin-bottom: 5px;
}

/* Projects Section */
.projects {
    width: 100%;
    padding: 110px 0px 110px 0px;
}

.projects .my-project-heading {
    width: 80%;
    margin: auto;
    text-align: center;
}

.projects .my-project-heading h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
}

.software-name {
    border: 2px solid green;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.tab-header {
    border: 2px solid red;
}

.software-name .tab-header .templates-heading {
    text-decoration: none;
    color: var(--white-color);
    background-color: transparent;
    border: none;
    transition: all 0.3s ease;
}

.software-name .tab-header .templates-heading:hover {
    color: var(--white-color);
    text-decoration: none;
    filter: drop-shadow(0 0 5px var(--white-color));
}


.my-projects .projects-templates .web-templates {
    width: 100%;
    height: 100vh;
    border: 2px solid red;
}

.my-projects .projects-templates .web-templates .first-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.my-projects .projects-templates .web-templates .first-row .proOne-template {
    width: 33%;
    padding: 50px;
    background-color: purple;
}

.my-projects .projects-templates .web-templates .first-row .matias-template {
    width: 33%;
    padding: 50px;
    background-color: greenyellow;
}

.my-projects .projects-templates .web-templates .first-row .techthink-ai-template {
    width: 33%;
    padding: 50px;
    background-color: silver;
}

.my-projects .projects-templates .web-templates .second-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-projects .projects-templates .web-templates .left-column {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.my-projects .projects-templates .web-templates .left-column .crafto-template {
    width: 100%;
    padding: 50px;
    background-color: orange;
}

.my-projects .projects-templates .web-templates .left-column .organinum-template {
    width: 100%;
    padding: 50px;
    background-color: green;
}

.my-projects .projects-templates .web-templates .right-column {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.my-projects .projects-templates .web-templates .right-column .nutrition-ps-template {
    width: 100%;
    padding: 50px;
    background-color: yellow;
}

.my-projects .projects-templates .web-templates .right-column .veganFood-template {
    width: 100%;
    padding: 50px;
    background-color: maroon;
}

.my-projects .projects-templates .web-templates .right-column .daxaAP-template {
    width: 100%;
    padding: 50px;
    background-color: rgb(0, 213, 255);
}