@media (max-width:575px) {
    /* xs screen */

    .col-xs-1 {
        width: 8.33%;
    }

    .col-xs-2 {
        width: 16.6666%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-4 {
        width: 33.3333%;
    }

    .col-xs-5 {
        width: 41.6666%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-7 {
        width: 58.3333%;
    }

    .col-xs-8 {
        width: 66.6666%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-10 {
        width: 83.3333%;
    }

    .col-xs-11 {
        width: 91.6666%;
    }

    .col-xs-12 {
        width: 100%;
    }
}

@media (min-width:576px) and (max-width:767px) {
    /* sm screen */

    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.6666%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.3333%;
    }

    .col-sm-5 {
        width: 41.6666%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.3333%;
    }

    .col-sm-8 {
        width: 66.6666%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.3333%;
    }

    .col-sm-11 {
        width: 91.6666%;
    }

    .col-sm-12 {
        width: 100%;
    }
}

@media (min-width:768px) and (max-width:991px) {
    /* md screen */

    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.6666%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.3333%;
    }

    .col-md-5 {
        width: 41.6666%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.3333%;
    }

    .col-md-8 {
        width: 66.6666%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.3333%;
    }

    .col-md-11 {
        width: 91.6666%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    /* lg screen */

    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.6666%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.3333%;
    }

    .col-lg-5 {
        width: 41.6666%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.3333%;
    }

    .col-lg-8 {
        width: 66.6666%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.3333%;
    }

    .col-lg-11 {
        width: 91.6666%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

@media (min-width:1200px) {
    /* xl screen */

    .col-xl-1 {
        width: 8.33%;
    }

    .col-xl-2 {
        width: 16.6666%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-4 {
        width: 33.3333%;
    }

    .col-xl-5 {
        width: 41.6666%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-7 {
        width: 58.3333%;
    }

    .col-xl-8 {
        width: 66.6666%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-10 {
        width: 83.3333%;
    }

    .col-xl-11 {
        width: 91.6666%;
    }

    .col-xl-12 {
        width: 100%;
    }
}

/* XL and Laptop Screen  */
@media (min-width:1200px),
(max-width:2560px) {
    header {
        display: flex;
    }
}

@media (max-width:991px) {
    header {
        display: flex;
        border: 2px solid red;
        width: 100%;
        background-color: transparent;
    }

    .header-section {
        width: 100%;
        margin: 0;
        height: 100px;
        display: flex;
        text-align: right;
        justify-content: right;
        align-items: center;
        position: relative;
    }

    .header-section .slider .nav {
        justify-content: flex-end;
    }

    .header-section .slider .nav h4 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .logo {
        position: absolute;
        top: 30%;
        left: 10px;
    }

}

/* sav thin nani screen ma min no ave 
    moti ma max ne ave
 XL : max-width: 1359px
   xxl :min-width: 1360px, max-width 2560px
*/