@media (max-width:575px) {
    /* xs screen */

    .col-xs-1 {
        width: 8.33%;
    }

    .col-xs-2 {
        width: 16.6666%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-4 {
        width: 33.3333%;
    }

    .col-xs-5 {
        width: 41.6666%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-7 {
        width: 58.3333%;
    }

    .col-xs-8 {
        width: 66.6666%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-10 {
        width: 83.3333%;
    }

    .col-xs-11 {
        width: 91.6666%;
    }

    .col-xs-12 {
        width: 100%;
    }
}

@media (min-width:576px) and (max-width:767px) {
    /* sm screen */

    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.6666%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.3333%;
    }

    .col-sm-5 {
        width: 41.6666%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.3333%;
    }

    .col-sm-8 {
        width: 66.6666%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.3333%;
    }

    .col-sm-11 {
        width: 91.6666%;
    }

    .col-sm-12 {
        width: 100%;
    }
}

@media (min-width:768px) and (max-width:991px) {
    /* md screen */

    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.6666%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.3333%;
    }

    .col-md-5 {
        width: 41.6666%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.3333%;
    }

    .col-md-8 {
        width: 66.6666%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.3333%;
    }

    .col-md-11 {
        width: 91.6666%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    /* lg screen */

    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.6666%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.3333%;
    }

    .col-lg-5 {
        width: 41.6666%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.3333%;
    }

    .col-lg-8 {
        width: 66.6666%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.3333%;
    }

    .col-lg-11 {
        width: 91.6666%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

@media (min-width:1200px) {
    /* xl screen */

    .col-xl-1 {
        width: 8.33%;
    }

    .col-xl-2 {
        width: 16.6666%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-4 {
        width: 33.3333%;
    }

    .col-xl-5 {
        width: 41.6666%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-7 {
        width: 58.3333%;
    }

    .col-xl-8 {
        width: 66.6666%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-10 {
        width: 83.3333%;
    }

    .col-xl-11 {
        width: 91.6666%;
    }

    .col-xl-12 {
        width: 100%;
    }
}

/* XL and Laptop Screen  */
@media (min-width:1200px),
(max-width:2560px) {
    header {
        /* border: 2px solid red; */
        height: 100px;
    }
}

@media (max-width:767px) {
    .header-section {
        height: 100vh;
        border: 2px solid #fff;
        display: flex;
        flex-direction: column;
    }

    .header-section .slider {
        order: 2;
    }

    .header-section .slider .nav {
        width: 100%;
        padding: 0 15px;
    }

    .header-section .slider .nav h4 {
        margin: 0;
        margin-bottom: 20px;
    }

    .header-section .slider .nav h4 a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
    }

    .navigation-bar {
        display: block;
        height: 100px;
        position: relative;
        order: 1;
        width: 100%;
    }

    .hamburger {
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .hamburger input {
        display: none;
    }

    .hamburger svg {
        /* The size of the SVG defines the overall size */
        height: 3em;
        /* Define the transition for transforming the SVG */
        transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line {
        fill: none;
        stroke: white;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3;
        /* Define the transition for transforming the Stroke */
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line-top-bottom {
        stroke-dasharray: 12 63;
    }

    .hamburger input:checked + svg {
        transform: rotate(-45deg);
    }

    .hamburger input:checked + svg .line-top-bottom {
        stroke-dasharray: 20 300;
        stroke-dashoffset: -32.42;
    }
}


/* sav thin nani screen ma min no ave 
    moti ma max ne ave
 XL : max-width: 1359px
   xxl :min-width: 1360px, max-width 2560px
*/